* {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg {
    background-color: #fffcf7;
    background-image: url("School.jpg");
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
}

.head h1 {
    color: #ffffff;
    padding: 10px 35px;
    margin-left: -25px;
}

.div1 h1 {
    color: #b36b00;
    font-size: 30px;
}

#logo {
    width: 50px;
    height: 40px;
    margin-left: 50px;
}

.head {
    color: #fefefe;
    background-color: #b36b00;
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 2px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.div1 {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 30px;
    border: 1px solid #b36b00;
    width: 650px;
    height: 360px;
    position: center;
    border-radius: 2%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.line4 {
    height: 1px;
    border: 0;
    border-top: 1px solid #b36b00;
    margin: 1em 0;
    padding: 0;
}
.line5 {
    height: 1px;
    border: 0;
    border-top: 1px solid #b36b00;
    margin: 1em 0;
    padding: 0;
}
.list {
    color: black;
    font-size: 17px;
    margin-left: -1%;
    list-style: none;
}
.list2 {
    color: black;
    font-size: 18px;
    margin-left: 4%;
    list-style: none;
}

#myBtn {
    cursor: pointer;
    position: relative;
    left: 30em;
    bottom: 5px;
    border-style: none;
    border-radius: 12px;
    outline: none;
    background-color: #b36b00;
    color: #ffffff;
    padding: 8px 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#myBtn2 {
    cursor: pointer;
    position: relative;
    left: 30em;
    bottom: 5px;
    border-style: none;
    border-radius: 12px;
    outline: none;
    background-color: #b36b00;
    color: #ffffff;
    padding: 8px 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-content {
    margin-top: 2px;
    margin-left: 0px;
    color: #b36b00;
}

.line1, .line3, .line6 {
    height: 1px;
    border: 0;
    border-top: 1px solid #b36b00;
    margin: 1em 0;
    padding: 0;
}

form input[type="search"] {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    font-style: italic;
    margin-top: 10px;
    margin-left: 3px;
}

.container form a {
    text-decoration: none;
    color: #ff9900;
    cursor: pointer;
}

#send-link {
    margin-top: 20px;
    margin-left: 3px;
    height: 10%;
    width: 100%;
}

#myBtn:hover {
    background-color: #ff9900;
}

.cancel-btn:hover {
    background-color: #ff9900;
    cursor: pointer;
}

.invite-btn:hover {
    background-color: #ff9900;
    cursor: pointer;
}

.cancel-btn {
    border-style: none;
    border-radius: 12px;
    outline: none;
    background-color: #b36b00;
    color: #ffffff;
    padding: 10px 40px;
    margin-top: 0%;
    margin-left: 200px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.invite-btn {
    border-style: none;
    border-radius: 12px;
    outline: none;
    background-color: #b36b00;
    color: #ffffff;
    padding: 10px 40px;
    margin-top: 4px;
    margin-left: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content a {
    text-decoration: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 30px;
    border: 1px solid #b36b00;
    width: 450px;
    height: 340px;
    position: center;
    border-radius: 5%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.close {
    color: #b36b00;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #ff9900;
    text-decoration: none;
    cursor: pointer;
}
footer{
   color: #fefefe;
    background-color: #b36b00;
    text-align: center;
    padding: 4px;
    margin-top: 14%;
}